body {
  font-family: 'Magra', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height:1.2;
font-weight: normal;
color: #FFFFFF;
}

body {
  background: url(./img/bg1.png) center top no-repeat, url(./images/Rectangle 33.png) center bottom no-repeat;
  margin: auto;
  max-width: 1440px;
  width: 100%;
  height: 3735px;
}
html {
  box-sizing: border-box;
}
*,*::before, *::after{
  box-sizing: inherit;
}
.wrapper {
  max-width: 1177px;
  margin: 0 auto;
}
.header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
}
.header__wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 35px;
}
.header__list {
  padding-top: 10px;
  padding-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
  list-style-type: none;
}

.header__link {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header__link:hover {
  font-weight: 700;
  color: #0D606F;
}
.header__link:hover, .header__link:focus, .header__link:active{
  opacity: 75%;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.4px;
  color: #ffffff;
  background-color: #0D606F;
  border: 0px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background-color: #F2785C;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.login__btn {
  width: 103px;
  height: 41px;
}

/* Header slyles end*/

/* Intro slyles start*/

.intro{
  min-height: 100vh;
  background: url(./img/bg1.png);
  background-size: cover;
  padding-top: 122px;
  background-repeat: no-repeat;
  background-position: center -90px;
}
.wrapper {
  padding: 32px 428px 254px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
  font-family: "Aleo", serif;
}

.title {
  font-weight: 700;
  font-size: 78px;
  letter-spacing: 2px;
  line-height: 96px;
}

.subtitle {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  letter-spacing: 0.5px;
}
.search-form {
  margin-top: 2px;
  padding: 18px 18px 18px 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

.planning-input {
  width: 560px;
  color: #F2785C;
  font-family: "Aleo", serif;
  font-style: italic;
  font-size: 24px;
  line-height: 29px;
  background-color: transparent;
  border: none;
}

.planning-input::-webkit-input-placeholder {
  color: #F2785C;
}

.planning-input:-ms-input-placeholder {
  color: #F2785C;
}

.planning-input::-ms-input-placeholder {
  color: #F2785C;
}

.planning-input::placeholder {
  color: #F2785C;
}

.planning-btn,
.find-more-btn {
  height: 59px;
  width: 228px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.7px;
  -webkit-box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

/* Intro styles end*/

/* section stiles start*/

.steps-container,
.destinations-container,
.stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__title {
  color: #F2785C;
  font-family: "Red Hat Text";
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.sections__cards{
  height: 442px;
}

.steps-container {
  padding: 80px 131px 0 132px;
  gap: 40px;
}
/* section stiles end*/
/*section destination start*/
.destinations-container {
  padding: 97px 0 0;
  gap: 40px;
}
/*section destination end*/
/*section slider start*/
.slider-wrapper {
  padding-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  overflow-x: hidden;
}

input[name="switcher"] {
  display: none;
}

.slider {
  width: 1440px;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.slides {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 60px;
  -webkit-transform: translateX(-540px);
          transform: translateX(-540px);
}

.slides .slide {
  width: 800px;
  height: 800px;
  padding-left: 15px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slides .slide-1 {
  background-image: url("../img/spain.png");
}

.slides .slide-2 {
  background-image: url("../img/japan.png");
}

.slides .slide-3 {
  background-image: url("../img/usa.png");
}

.slide-title {
  font-family: "Red Hat Text";
  font-size: 2rem;
  line-height: 42px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #ffffff;
}

.slide-switchers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.slide-switchers .slide-switcher {
  width: 20px;
  height: 20px;
  background-color: #F2785C;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slide-switchers .slide-switcher:hover {
  background-color: #0D606F;
}

.find-more-btn {
  gap: 12.5px;
}

#switcher1:checked ~ .slide-switchers label:nth-child(1),
#switcher2:checked ~ .slide-switchers label:nth-child(2),
#switcher3:checked ~ .slide-switchers label:nth-child(3) {
  opacity: 1;
}

@-webkit-keyframes slide-opacity {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-opacity {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#switcher1:checked ~ .slider .slides .slide-1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-animation: slide-opacity 2s;
          animation: slide-opacity 2s;
}

#switcher1:checked ~ .slider .slides .slide-2 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

#switcher1:checked ~ .slider .slides .slide-3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#switcher2:checked ~ .slider .slides .slide-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#switcher2:checked ~ .slider .slides .slide-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-animation: slide-opacity 2s;
          animation: slide-opacity 2s;
}

#switcher2:checked ~ .slider .slides .slide-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

#switcher3:checked ~ .slider .slides .slide-1 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

#switcher3:checked ~ .slider .slides .slide-2 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#switcher3:checked ~ .slider .slides .slide-3 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-animation: slide-opacity 2s;
          animation: slide-opacity 2s;
}
/*section slider end*/

/*section stories start*/
.stories {
  padding-top: 80px;
  gap: 40px;
}

.stories-wrapper {
  color: #0D606F;
  font-family: "Aleo", serif;
  font-style: normal;
  background-image: url("./images/Rectangle 33.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.stories-wrapper .stories-inner {
  background-color: rgba(255, 255, 255, 0.7);
}

.stories-container {
  padding: 40px 120px 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.stories-container .find-more-btn {
  margin-top: 10px;
}

.story-img {
grid-area: story-img;
filter: drop-shadow(0px 4px 2px #0D606F);
  border-radius: 16px;
}

.story-title {
  font-weight: 400;
   size: 35px;
  line-height: 42px;
}

.story-text {
  grid-area: story-text;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.story {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "story-img story-title"
 "story-img story-text";
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 8px;
}

.read-more-link {
  color: #0D606F;
  font-weight: 700;
  letter-spacing: 0.3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.read-more-link:hover {
  color: #F2785C;
}

/*section stories end*/
.footer {
  background-image: url("../images/background_mountains_boat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center bottom;
  background-position: center -1265px;
}

.footer-container {
  padding: 14px 121px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  font: {
    family: "Red Hat Text", sans-serif;
    weight: 500;
  }
  line-height: 21px;
  letter-spacing: 0.4px;
  color: $white-color;
}

.footer-social-media-list {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.footer-social-media-link {
  height: 33.65px;
  transition: 0.5s;

  &:hover {
    filter: invert(52%) sepia(181%) saturate(619%) hue-rotate(323deg) brightness(102%) contrast(90%);
  }
}